<div class="home">
  <div class="home-center">
    <div class="logo">
      <img src="assets/logo.png" alt="My App Logo" />
    </div>
    <div class="subtitle"><a>Soluções profissionais com drones para mapeamento aéreo, fotografia, inspeção industrial e mais. Tecnologia de ponta ao seu alcance.</a></div>
    <div class="line">
      <button class="button-1">Solicitar Orçamento</button>
      <button class="button-2">Ver Portifólio</button>
    </div>
    <div class="details">
      <div class="detail">
        <a>10+</a>
        <a>Projetos Concluidos</a>
      </div>
      <div class="detail">
        <a>98%</a>
        <a>Satisfação do Cliente</a>
        <a></a>
      </div>
      <div class="detail">
        <a>10+</a>
        <a>Cidades Atendidas</a>
      </div>
    </div>
  </div>
</div>
